name: build-android

on:
  push:
    tags:
      - '*'

  workflow_dispatch:

jobs:
  
  buildiOS:
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3.0.0
        with:
          dotnet-version: 10.0.x
      
      - name: Install Jex
        shell: bash
        run: |
          npm install

      - name: Run Jex
        shell: bash
        run: node --enable-source-maps ./node_modules/@neurospeech/jex/index.js ./node_modules/@positron-js/cli/content/build-android.jsx
        env:
          SIGNING_KEY_ALIAS: ${{ secrets.RELEASE_KEYSTORE_ALIAS }}
          KEYSTORE_PASSWORD: ${{ secrets.RELEASE_KEYSTORE_PASSWORD }}
          PLAYSTORE_SERVICE_ACCOUNT_JSON_TEXT: ${{ secrets.SERVICE_ACCOUNT_JSON }}



        